body {
    background: url("/static/styles/images/background.jpg") center/cover no-repeat;
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Header {
    height: 100%;
    padding: 2rem 5rem 3rem 5rem;
    width: 60rem;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    margin: 10rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(240, 42, 0, 0.08);
    backdrop-filter: blur(2px);
}

.Header h1{
    font-family: "Archivo Black", sans-serif;
    color: rgb(255, 87, 51);
    margin: 1rem 2rem 2rem 2rem;
}
.stt_button{
    border: none;
    margin: 2rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: 700;
    background-color: rgb(255, 87, 51);
    color: white;
    padding: 1rem 7.5rem 1rem 7.5rem;
    border-radius: 1rem;
} 